.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background: green;
}
.header img {
    width: 100px;
}

.nav {
    grid-area: n;
    background: gold;
}

.content {
    grid-area: c;
    background: deepskyblue;
}
.content img {
    width: 100%;
    height: 200px;
}
