.app-wrapper {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background: deepskyblue;
}

.app-wrapper-content img {
    width: 100%;
    height: 200px;
}

